<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.project.zalbazo.mapper.MemberMapper">
    <insert id="insert">
        insert into springpractice.test_member("username", "password")
        VALUES (#{username}, #{password})
    </insert>
    <select id="getMember" resultType="kr.project.zalbazo.domain.TestMember">
        select *
        from springpractice.test_member tm
        where tm.username = #{username}
          and tm.password = #{password}
    </select>
    <select id="getAllMember" resultType="kr.project.zalbazo.domain.TestMember">
        select *
        from springpractice.test_member tm
    </select>
</mapper>